In [538]:
from bs4 import BeautifulSoup
from bs4 import BeautifulSoup
import requests
import pandas as pd

finding the url

In [539]:
url = "https://www.top-charts.com/songs"

Download html with a get request

In [540]:
response = requests.get(url)
response.status_code

200

Parse html

In [541]:
soup = BeautifulSoup(response.content, "html.parser")

In [542]:
#print(soup.prettify())

In [543]:
#soup.select("#title > div > span > a > div")

In [544]:
#soup.select("div.text-truncate")

In [545]:
soup.select("div.text-truncate")[0].get_text()

'Pareja Del Año'

In [546]:
#soup.select("#s1 > div.col-10.d-flex.align-items-center.pl-0")

In [547]:
#soup.select("div.text-truncate")

In [548]:
soup.select("div.text-truncate")[0].get_text()

'Pareja Del Año'

In [549]:
title = []
artist = []
num_iter = len(soup.select("div.text-truncate"))

for i in range(num_iter):
    if i% 2 == 0:
        title.append(soup.select("div.text-truncate")[i].get_text())
    else:
        artist.append(soup.select("div.text-truncate")[i].get_text())

In [550]:
topspain = pd.DataFrame({"title":title,"artist":artist})

In [551]:
topspain

,title,artist
0,Pareja Del Año,"Myke Towers, Sebastián Yatra"
1,Fiel,"Jhay Cortez, Los Legendarios, Wisin"
2,Flamenco y Bachata,Daviles de Novelda
3,AM,"Flow La Movie, Nio García"
4,Búmeran,Beluga
...,...,...
96,Jerusalema (feat. Nomcebo Zikode) [Edit],Master KG
97,Poblado,"Totoy El Frio, Natan & Shander, Crissin"
98,Sonqueson,La Pegatina
99,Inside News,Warner/Chappell Productions
100,,"Los Legendarios, Wisin & Jhay Cortez"

In [552]:
topspain = topspain.drop(labels=100, axis=0)

Top from UK

In [553]:
url2 = "https://www.top-charts.com/songs/all-genres/united-kingdom/total/2021-W18"

In [554]:
response = requests.get(url2)
response.status_code

200

In [555]:
soup = BeautifulSoup(response.content, "html.parser")

In [556]:
#print(soup.prettify())

In [557]:
#soup.select("#title > div > span > a > div")

In [558]:
soup.select("div.text-truncate")[1].get_text()

'Tion Wayne, \xa0 Russ Millions'

In [559]:
title = []
artist = []
num_iter = len(soup.select("div.text-truncate"))

for i in range(num_iter):
    if i% 2 == 0:
        title.append(soup.select("div.text-truncate")[i].get_text())
    else:
        artist.append(soup.select("div.text-truncate")[i].get_text())

In [560]:
topuk= pd.DataFrame({"title":title,"artist":artist})

In [561]:
topuk = topuk.drop(labels=100, axis=0)

In [562]:
hits= pd.concat([topspain,topuk], axis=0)

In [563]:
hits

,title,artist
0,Pareja Del Año,"Myke Towers, Sebastián Yatra"
1,Fiel,"Jhay Cortez, Los Legendarios, Wisin"
2,Flamenco y Bachata,Daviles de Novelda
3,AM,"Flow La Movie, Nio García"
4,Búmeran,Beluga
...,...,...
95,Beautiful Mistakes,"Megan Thee Stallion, Maroon 5"
96,Gangsta's Paradise (feat. L.V.),Coolio
97,Blinding Lights (Instrumental),The Weeknd
98,6 For 6,Central Cee
99,Head & Heart (Originally Performed by Joel Cor...,EdKara

In [564]:
hits['title'] = hits['title'].str.replace("(",'').str.replace(')','')

C:\Users\gonza\AppData\Local\Temp/ipykernel_2424/651796404.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hits['title'] = hits['title'].str.replace("(",'').str.replace(')','')

In [565]:
hits[['title', 'featuring']] = hits['title'].str.split('feat.', expand=True, n=1)

In [566]:
hits['featuring'] = hits['featuring'].replace('None', 'No feat')

In [567]:
hits = hits.fillna('no feat')

In [568]:
for i in hits.columns:
    hits[i] = list(map(lambda x: x.lower(), hits[i]))

In [569]:
hits['title'] = hits['title'].str.strip()

In [571]:
import random 
song_artist = input("What song or artist do you like?: ").lower()


if song_artist in list(hits['title']):
    print(random.choice(list(hits['title'])))
elif song_artist in list(hits['artist']):
    print(random.choice(list(hits['artist'])))
else:
    print('We cannot give you a recomendation yet')

What song or artist do you like?: pareja del año
another love